<h1>Buy Page</h1>

<% if flash[:errors] %>
    <%= flash[:errors] %>
<% end %>

<h2>What's your offer for this car?</h2>
<%= @car.make %>
<%= @car.model %>
<%= @car.cost%>

<%= button_to "Buy It", "/dealer", method: :post %>
<%= button_to "Show me something else", "/dealer/buy", method: :get %>
<%= button_to "Go back", "/dealer", method: :get %>