<% if flash[:errors] %>
    <%= flash[:errors] %>
<% end %>

<div class="background">
<h2>What's your offer for this car?</h2>

<img class="car" id="buy" src=<%= @car.image_url %> >


<p><%= @car.make %></p>
<p><%= @car.model %></p>
<p>$<%= number_with_delimiter(@car.cost, delimiter: ",")%></p><br>

<%= button_to "Buy It", "/dealer", method: :post %>
<%= button_to "Show me something else", "/dealer/buy", method: :get %>
<%= button_to "Go back", "/dealer", method: :get %>

</div>