<div class="background">
<h1>What are ya sellin?</h1>
<% if flash[:errors] %>
    <%= flash[:errors] %>
<% end %>

<% @user.user_cars.each do |uc| %>
    <ul>
        <li><%= link_to "#{uc.make}", "/dealer", method: :delete %>
        <%= uc.model %>
        <%= uc.condition %>
        $<%= number_with_delimiter(uc.value, delimiter: ",") %></li>
    </ul>
<% end %>

<%= form_for :usercar, :html => { :method => :delete } do |f| %>
    <%= f.collection_select(:user_car_id, @user.user_cars, :id, :make) %>
    <%= f.submit "sell it" %>
<% end %> 

<div class="button"><form method="get" action="/dealer">
    <input value="Go Back" type="submit" />
</form></div>

</div>