<body class="garage">
<% if flash[:repair_message] %>
    <%= flash[:repair_message] %>
<% end %>

<% if flash[:gift_car_mess] %>
    <h1 class = "new_car"><%= flash[:gift_car_mess] %></h1>
<% end %>

<div class="background">
    <h1>Garage</h1>
    <h2>
        <%= @uc.make %> <%= @uc.model%>
    </h2>
</div>

<div class="img-with-text">
    <p><img class="car" src=<%=@uc.car.image_url%>></p>
</div>

<div class="background" id="car-show">
        <p>CONDITION: <%= @uc.condition %>

        <%= button_to "repair", {controller: "usercars", action: "repair", id: @uc.id}, method: "post" %></p>
        <% if flash[:repair_cue] %>
            <audio autoplay>
            <source src="http://soundbible.com/grab.php?id=1975&type=wav" type="audio/wav">
            </audio>
            <% flash[:repair_cue] = false %> 
        <% end %>

    <p>TOP SPEED: <%= @uc.top_speed %> MPH</p>

    <p>VALUE: $<%= number_with_delimiter(@uc.value, delimiter: ",") %></p>

    <%= link_to "PREVIOUS VEHICLE", uc_path(@previous)%>
    <span id="next-vehicle"><%= link_to "NEXT VEHICLE", uc_path(@next)%> </span>
</div>
</body>


