<div class = "img-with-text" >
<p><img style="padding: 0 15px; float: left;" src=<%=@uc.car.image_url%>></p>
<p style="margin-top: 20px;"> </p>
<p>CONDITION: <%= @uc.condition %> % </p> 
<p>TOP SPEED: <%= @uc.top_speed %> MPH </p> 
<p>VALUE: $<%= number_with_delimiter(@uc.car.cost, delimiter: ",") %> </p> </div>



<%= link_to "NEXT VEHICLE", uc_path(@next)%>