<div class="background">
<h1>Recent Race Results:</h1>
<strong class="message">
    <% if flash[:messages] %>
        <% flash[:messages].each do |message| %>
            <%= message %><br>
        <% end %>
    <% else %>
        <%= "Let's Do This!"%>
    <% end %></strong><br><br>

<% if Race.last %>
    Race Number: <%= Race.last.id %><br>
    Winner: <%= Race.last.display_winner %><br>
    Loser: <%= Race.last.display_loser %><br><br>
<% else%>
    <%= "No recent races" %><br><br>
<% end %>

New Race:
<%= form_for :race do |f| %>
    <%= f.label :your_car %>
    <%= f.collection_select(:winner_id, @usercars, :id, :user_car_info)%><br>
    <%= f.label :opponent_car %>
    <%= f.collection_select(:loser_id, @cars, :id, :user_car_info)%>
    <%= f.submit "race!" %>
<% end %>

  
    <% if flash[:last_result] == "w" %>
    <audio autoplay>
    <source src="http://soundbible.com/grab.php?id=44&type=wav" type="audio/wav">
    </audio>
    <% flash[:last_result] = nil %>
    <% elsif flash[:last_result] == "l" %>
    <audio autoplay>
    <source src="hhttp://soundbible.com/grab.php?id=615&type=wav" type="audio/wav">
    </audio>
    <% flash[:last_result] = nil %>

    <% end %>



</div>
            