<h1>Leaderboard</h1>

<% @users.each do |user| %>
<ol><li>
    <%= user.name %>
    <%= user.score %>
    <%= user.wins %>
    <%= user.top_car.user_car_info %>
    </li>
    </ol>
<% end %>

<% Race.all.each do |race| %>
Winner: <%= race.winner.user.name %>
Loser: <%= race.loser.user.name %>
<% end %>