<!DOCTYPE html>
<html>
  <head>
    <title>RaceFlip</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <nav class="navbar navbar-light bg-light">
    User: <% if @user %>
            <%= @user.name %><br>
            Balance: $<%= number_with_delimiter(@user.balance, delimiter: ",") %>
          <% else %>
            <%= "PLEASE LOG IN" %>
          <% end %>
    <a class="navbar-brand" href="/race">Race</a>
    <a class="navbar-brand" href="/garage">Garage</a>
    <a class="navbar-brand" href="/dealer">Dealer</a>
    <a class="navbar-brand" href="/leaderboards">Leaderboards</a>
    <%= button_to "Log Out", "/logout", method: :delete %>
    </nav>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
