<!DOCTYPE html>
<html>
  <head>
    <title>RaceFlip</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= link_to "Race", race_path %>
    <%= link_to "Garage", garage_path %>
    <%= link_to "Dealer", dealer_path %>
    <%= link_to "Leaderboards", leaderboard_path %>
    <%# button_to "Log out", action: '/logout', controller: "sessions", method: 'delete' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
